
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>

    <div class="container">
        <div class="log-in">
            <div class="log">
            <div class="log-in-form">
                <form action="/login" method="post">
                    <h2>Login</h2>
                    <ul>
              
                    <li><input class="demo" type="email" name="userEmail" placeholder="Email"></li>
                    <li><input class="demo" type="password" name="userPassword" placeholder="Password"></li>
                   
                       <p>  <a href=""><b>Forgot password</b>?</a> </p>    
                    
                    <button class="login-btn" type="submit">Login</button>
                    <p> Don't have an account? <a href="register"><b> Sign up </b></a> </p> 
                </ul>
                </form>
            </div>
        </div>
            
            
            <div class="log-in-head">
               
                <div class="head-title">
                    <h1>Todo</h1>
            
                    <p> YOUR PERSONAL </p>
                    <p> TASK MANAGER </p>
                </div>
                <div class="slogan">
                   
                </div>
                <div class="log-in-line">

                </div>
                
        </div>
    </div>
</div>
    
</body>
</html>