<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Task Manager</title>
</head>
<body>


    
    <div class="container">
        <div class="heading">
            <h1>Welcome <%=userr%></h1>
        </div>


        <div class="form">             
            <input type="text" id="add" placeholder="Add new reminder">
            <button id="add-btn" >+</button> 
        </div>
        
         <div>
            <ul id="toDo">
                <!-- <li class="checked">
                    Todo 1
                </li>
                <li class="checked">
                    Todo 2
                </li>
                <li class="checked">
                    Todo 3 -->
                </li>
            </ul>

         </div>

        
         
           <!-- <input type="checkbox" name="Saifssssddddddf" id=""> -->
        </div>

    </div>

    <script src="/js/script.js"></script>
    
</body>
</html>