*{
    margin: 0;
    padding: 0;
}
.container {
    background-color: #F3F2EE;
    height: 100vh;
}

.sign {
    width: 50%;
}

.sign-up {
    display: flex;
    /* position: absolute; */
    flex-direction: row;
    
    /* justify-content: space-between;   */
    padding: 20vh 1px 1px 1px;
    height: 60vh;
}
.sign-up-form {
    background-color: rgb(255, 255, 255);
    /* position: relative; */
    height: 50vh;
    width: 20vw;
    margin-left: 15vw;
    padding: 5vh 0vw 1px 3vw;
    /* justify-content: center; */
    align-items: center;
    border: none;;
    border-radius: 10px;
    box-shadow: 0 0 10px #304134;
    /* padding: 0px 0px 0px 0px; */
   
    /* padding: */

}
.sign-up-form h2 {
    /* position: relative; */
    padding-bottom: 5vh;
    padding-left: 1.8vw;
    /* text-align: justify; */
    /* padding-left: 25px; */
    /* text-align: center; */
}
.sign-up-form p {
    padding-bottom: 5vh;
}

.demo  {
    position: relative; 
    padding: 1%;
    width: 80%;
    color: rgba(17, 17, 17, 0.5);
    font-size: smaller;
    /* font-stretch:; */
    /* margin: 0% 5% 0% 5%; */
    border: none;
    background: none;
    border-bottom: 1px solid grey;
    /* border-radius: 10px;  */
     outline: none;
} 

.signup-btn {
    position: relative; 
    /* padding: 1%; */
    width: 80%;
    height: 40px;
    color: rgb(255, 255, 255);
    /* margin: 0% 5% 0% 5%; */
    border: none;
    background: rgba(0, 0, 0, 0.655);
    cursor: pointer;
    
    border-radius: 10px; 
     /* outline: none; */
}
li{
    list-style: none;
    padding-bottom: 20px;
    
}
.sign-up-head {
    display: flex;
}
.sign-up-line {
    height: 50vh;
    width: .005vw;
    background-color: black;
}
.head-title h1 {
    padding-left: 10vw;
    padding-top: 10vw;
    padding-bottom: 2vw;
}
.head-title p {
    padding-left: 5vw;
    padding-bottom: .5vw;
    /* padding-top: 10vw; */
}
.slogan {
    padding-left: 5vw;
    padding-top: 10vw;
}

.signup-btn:hover {
    background-color: black;
}

 p a{
    text-decoration: none;
    color: black;
}